<nz-page-header
  class="site-page-header"
  nzTitle="My Annual Leave"
></nz-page-header>

<div class="form">
  <div class="row">
    <div class="col-md-4">
      <label class="label mb-2 ">Year</label>
      <div class="year">
        <input type="text" class="bg-gray-50 border   text-sm  block w-full p-2 ">
      </div>
    </div>

    <div class="col-8">
      <button type="submit" class="btn btn-default">
        Show Result
      </button>
    </div>
  </div>
</div>
<nz-table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Annual leave leftover
          (previous year)
    </th>
    <th>Annual leave leftover
        can use (previous year)
    </th>
    <th>Leftover leave used</th>
    <th>Total annual leave
         (current year)
    </th>
    <th>Annual leave
      (current year) used
    </th>
    <th>Balance</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</nz-table>



